body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
h1 {
  text-align: center;
}

img {
  margin: 0 auto;
  width: 800px;
  border: 1px solid #eeeded;
}
header {
  padding: 1em;
  background-color: crimson;
  color: white;
  text-align: center;

}

section {
  margin: 2em auto;
  padding: 2em;
  max-width: 1020px;
  border: 1px solid #eeeded;
}

section:nth-child(even) {
  background-color: #eeeded;
}

figure{
  width: 800px;
  margin: 1em auto;
}

figcaption { 
  padding: 5px;
  width: 800px;
  background-color: #eeeded;
  mix-blend-mode: multiply;
}

a {
  margin: 0 auto;
  padding: 5px 20px;
  display: block;
  width: 800px;
  background-color: crimson;
  color: white;
}