.banner-take-test-wrapper {
  margin: 30px auto;
  padding: 5px 10px;
  
  max-width: 970px;

  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;

  font-family: 'Oswald-Medium', HelveticaNeueBold, 'Helvetica Neue', TeXGyreHerosBold, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-size: 14px;
  
  border: 1px solid  #1f1f24;
}

.take-test-cta {
  margin-right: 16px;
  padding: 12px 16px;

  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #1f1f24;
  border: 1px solid #ccc;
  color: white;
}

.reset-list {
  width: 600px;
  padding: 0;
  list-style: none;
}
.take-test-text{
  font-family: lato;
  color: #666;
}

